<!DOCTYPE html>
<html>
<head>
    <title>Video Sayfas覺</title>
</head>
<body>
    <video controls width="2000" height="1000">
        <source src="/video/video1.mp4" type="video/mp4">
        Taray覺c覺n覺z video etiketini desteklemiyor.
    </video>
</body>
</html>