<h2 class="text-center">Om Oss</h2>
<h5>
    Mangfoldhuset Oslo er en ideell frivillig organisasjon etablert i Oslo i 2009. Organisasjonens formål er å arbeide for å fremme sosial utjevning. Vi vil skape møtesteder i lokalsamfunnet, styrke enkeltmenneskers medansvar og samfunnsengasjement og praktiserer inkludering, dialog og fellesskap. Vi tar sikte på å bidra til kunnskapsformidling ved å samle mennesker til diskusjonsfora og seminarer, arrangere konferanser og kurs og gjennomføre aktiviteter for barn og ungdom.

    Mangfoldhusets fokusområde er samhandling mellom ulike mennesker i samfunnet.  Med prosjektene våre ønsker vi å nå barn, ungdom, voksne og eldre, hvor man jobber for å øke tilhørigheten til landet vi bor i. Aktivitetene våre setter mennesket sentralt og målet er bedre livskvalitet for hver enkelt.

    Mangfoldhuset er en åpen organisasjon for alle som ønsker å være med. Formålet er å legge til rette for dialog rundt sosiale utfordringer på tvers av hudfarge, etnisitet, legning og tro. Organisasjonen flagger demokrati, menneskerettigheter, likestilling og ytringsfrihet. Mangfoldhuset er ingen religiøs eller etnisk organisasjon.

    Mangfoldhuset består av flere forsamlinger  eller utvalg: kunst og kultur forsamling, interreligiøs dialog forsamling, student forsamling, interkulturell dialog forsamling og helse/idrett forsamling. Innenfor foreningens rammer og vedtekter står hver enkelt forsamling fritt til å planlegge og gjennomføre det de ønsker. Foreningens styre har ansvar for å legge til rette for utvalgenes behov ved planlegging og gjennomføring av aktiviteter. Det er fritt for alle å velge hvilken forsamling man vil være aktiv i.

    Foreningen er landsdekkende, organisert i regionale avdelinger med hovedsete i Oslo. I tillegg finnes Mangfoldhuset i dag i Drammen, Trondheim, Moss, Stavanger, Kristiansand og Bergen. Hver enkelt avdeling er uavhengig seg imellom når det gjelder økonomi og styring. Initiativtakere er lokale mennesker med norsk-tyrkisk bakgrunn, inspirert av tenkeren Fethullah Gülen. Organisasjonen er imidlertid åpen for alle som slutter seg til det samme formål og den demokratiske strukturen.

    Mangfoldhuset finansieres gjennom private donasjoner fra lokale forretninger og fagfolk, som er bevisst sin støtte til samfunnsaktivitet på grasrotnivå. Støttet av engasjerte frivillige oppnås en bemerkelsesverdig høy produksjon på relativt små budsjett. Mangfoldhuset mottar også prosjektstøtte fra ulike statlige enheter og sponsormidler fra bedrifter i tillegg til en mindre medlemskontingent av sine medlemmer, og samarbeider med ulike aktører på lokalt og nasjonalt nivå.
</h5>